.image{
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
}

.innerImage{
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    width: 1000px;
    height: 400px;
}

.text{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    color: var(--bg);
    font-size: 50px;
}

.subtext{
    font-size: 30px;
    position: absolute;
    padding-top: 50px;
}